<h1>Projects#index</h1>
<p>Find me in app/views/projects/index.html.erb</p>

<ul>
  <% @projects.each do |project| %>
      <li class="li">
        <%= link_to project.name, project %></li>
  <% end %>
</ul>
