
<h1><%= @company.name %></h1>

<% if @company.projects.size > 0%>
<table>
  <tbody>
  <tr>
    <th>Projects</th>
    <th>Company</th>
  </tr>
  <%= render partial: "projects/project", collection: @company.projects%>
  </tbody>
</table>
<% else %>
<p>No projects</p>
 <% end %>

<% content_for :aside do %>
    <% render 'sidebar' %>
<% end %>
